practica5/n8n Workflow/practica5.json
{
  "name": "practica5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "results",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "=cv"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -448
      ],
      "id": "640b5153-ac52-4ecf-90dd-edee8a3c1a6b",
      "name": "Input Form",
      "webhookId": "f6a9bc70-a8cc-457f-9919-e66058fb9d28",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1m84Oe-2riZc1qZKsdGS9hONHTY1xGaM6xR3kfFF-CE0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Postulantes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m84Oe-2riZc1qZKsdGS9hONHTY1xGaM6xR3kfFF-CE0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Input Form').item.json.body.nombre }}",
            "Apellidos": "={{ $('Input Form').item.json.body.apellidos }}",
            "Fecha de Nacimiento": "={{ $('Input Form').item.json.body.fecha_nac }}",
            "DNI": "={{ $('Input Form').item.json.body.dni }}",
            "Direccion": "={{ $('Input Form').item.json.body.direccion }}",
            "Ciudad": "={{ $('Input Form').item.json.body.ciudad }}",
            "CP": "={{ $('Input Form').item.json.body.cp }}",
            "Email": "={{ $('Input Form').item.json.body.email }}",
            "Teléfono": "={{ $('Input Form').item.json.body.telefono }}",
            "Carnet de Conducir": "={{ $('Input Form').item.json.body.carnet_conducir }}",
            "Nivel de Estudios": "={{ $('Input Form').item.json.body.estudios }}",
            "Experiencia Laboral": "={{ $('Input Form').item.json.body.experiencia }}",
            "Puesto Preferido": "={{ $('Input Form').item.json.body.puesto_requerido }}",
            "Disponibilidad": "={{ $('Input Form').item.json.body.disponibilidad }}",
            "LinkedIn": "={{ $('Input Form').item.json.body.perfil_linkedin }}",
            "CV": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Nacimiento",
              "displayName": "Fecha de Nacimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DNI",
              "displayName": "DNI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Direccion",
              "displayName": "Direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CP",
              "displayName": "CP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Carnet de Conducir",
              "displayName": "Carnet de Conducir",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nivel de Estudios",
              "displayName": "Nivel de Estudios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experiencia Laboral",
              "displayName": "Experiencia Laboral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Puesto Preferido",
              "displayName": "Puesto Preferido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Disponibilidad",
              "displayName": "Disponibilidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -176
      ],
      "id": "21f047c4-61fb-4805-b8e9-fee2134fcfaa",
      "name": "Add data in Google Sheets",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jYw58VjiI8xAP7CN",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "1168186611",
        "text": "=Nueva solicitud de empleo:\nNombre: {{ $json.Nombre }}\nApellidos: {{ $json.Apellidos }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -192
      ],
      "id": "c690b452-cc03-4b37-8d92-582fb2260f74",
      "name": "Telegram Notification",
      "webhookId": "1195eeed-cac1-4552-ad94-b5553f3148dc",
      "credentials": {
        "telegramApi": {
          "id": "qHvQ0KgpJi2Fph8M",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        -80
      ],
      "id": "9d244393-0e83-486f-bb07-0db4b9be7114",
      "name": "Response to Form"
    },
    {
      "parameters": {
        "sendTo": "damaspc@gmail.com",
        "subject": "=Nueva solicitud de empleo : {{ $('Add data in Google Sheets').item.json.Nombre }} {{ $('Add data in Google Sheets').item.json.Apellidos }}",
        "message": "=<h2>Nueva solicitud de empleo</h2>\n<hr>\n<h3>Datos Personales</h3>\n<p>Nombre: {{ $('Add data in Google Sheets').item.json.Nombre }}</p>\n<p>Apellidos: {{ $('Add data in Google Sheets').item.json.Apellidos }}</p>\n<p>Fecha de Nacimiento: {{ $('Add data in Google Sheets').item.json['Fecha de Nacimiento'] }}</p>\n<p>DNI: {{ $('Add data in Google Sheets').item.json.DNI }}</p>\n<p>Direccion: {{ $('Add data in Google Sheets').item.json.Direccion }}</p>\n<p>Ciudad: {{ $('Add data in Google Sheets').item.json.Ciudad }}</p>\n<p>CP: {{ $('Add data in Google Sheets').item.json.CP }}</p>\n<p>Email: {{ $('Add data in Google Sheets').item.json.Email }}</p>\n<p>Teléfono: {{ $('Add data in Google Sheets').item.json['Teléfono'] }}</p>\n<hr>\n<h3>Datos Laborales</h3>\n<p>Carnet de Conducir: {{ $('Add data in Google Sheets').item.json['Carnet de Conducir'] }}</p>\n<p>Nivel de Estudios: {{ $('Add data in Google Sheets').item.json['Nivel de Estudios'] }}</p>\n<p>Experiencia Laboral: {{ $('Add data in Google Sheets').item.json['Experiencia Laboral'] }}</p>\n<hr>\n<h3>Puesto Requerido</h3>\n<p>Puesto Preferido: {{ $('Add data in Google Sheets').item.json['Puesto Preferido'] }}</p>\n<p>Disponibilidad: {{ $('Add data in Google Sheets').item.json.Disponibilidad }}</p>\n<p>Perfil de LinkedIn: {{ $('Add data in Google Sheets').item.json.LinkedIn }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        336,
        -192
      ],
      "id": "2237362e-9b65-4cbc-9d9a-ff35374ff059",
      "name": "Email to Company",
      "webhookId": "002573d7-3ee9-4a6b-be4c-a3711dfe918d",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5Qkpicxmd2OCx7a",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Add data in Google Sheets').item.json.Email }}",
        "subject": "=Su solicitud de empleo",
        "message": "=<h2>Solicitud de empleo procesada</h2>\n<hr>\n<h3>Datos Personales</h3>\n<p>Nombre: {{ $('Add data in Google Sheets').item.json.Nombre }}</p>\n<p>Apellidos: {{ $('Add data in Google Sheets').item.json.Apellidos }}</p>\n<p>Fecha de Nacimiento: {{ $('Add data in Google Sheets').item.json['Fecha de Nacimiento'] }}</p>\n<p>DNI: {{ $('Add data in Google Sheets').item.json.DNI }}</p>\n<p>Direccion: {{ $('Add data in Google Sheets').item.json.Direccion }}</p>\n<p>Ciudad: {{ $('Add data in Google Sheets').item.json.Ciudad }}</p>\n<p>CP: {{ $('Add data in Google Sheets').item.json.CP }}</p>\n<p>Email: {{ $('Add data in Google Sheets').item.json.Email }}</p>\n<p>Teléfono: {{ $('Add data in Google Sheets').item.json['Teléfono'] }}</p>\n<hr>\n<h3>Datos Laborales</h3>\n<p>Carnet de Conducir: {{ $('Add data in Google Sheets').item.json['Carnet de Conducir'] }}</p>\n<p>Nivel de Estudios: {{ $('Add data in Google Sheets').item.json['Nivel de Estudios'] }}</p>\n<p>Experiencia Laboral: {{ $('Add data in Google Sheets').item.json['Experiencia Laboral'] }}</p>\n<hr>\n<h3>Puesto Requerido</h3>\n<p>Puesto Preferido: {{ $('Add data in Google Sheets').item.json['Puesto Preferido'] }}</p>\n<p>Disponibilidad: {{ $('Add data in Google Sheets').item.json.Disponibilidad }}</p>\n<p>Perfil de LinkedIn: {{ $('Add data in Google Sheets').item.json.LinkedIn }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        -192
      ],
      "id": "52d715a5-aa64-4164-8e45-30eac975261b",
      "name": "Email to Applicant",
      "webhookId": "002573d7-3ee9-4a6b-be4c-a3711dfe918d",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5Qkpicxmd2OCx7a",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f189d124-9f8a-4550-b31b-5747274cb2b5",
              "name": "error",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        112
      ],
      "id": "7dcac8d0-db16-4219-9d85-a53095a66327",
      "name": "Error Field",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $node[\"Input Form\"].binary.cv0 }}",
        "name": "=CV - {{ $('Input Form').item.json.body.nombre }} {{ $('Input Form').item.json.body.apellidos }}",
        "driveId": {
          "__rl": true,
          "value": "1o2XbxpMnC1p4NAvs4BINnHAnVEPOWaX_",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1r67k03c_H2Y1JIFuIm3bBRJHeP95LPT4",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        -176
      ],
      "id": "aaf6063d-b146-4044-9da5-abd0fb63892b",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ipkOk1HogHLllDUd",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.google.com/recaptcha/api/siteverify",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "6Lc7SdEsAAAAAKM7jAM-oUGXRtFIcJhh1nBGxt9i"
            },
            {
              "name": "response",
              "value": "={{ $json.body[\"g-recaptcha-response\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -448
      ],
      "id": "80819e9d-ece7-4cb6-9327-8f8035115889",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "de17d92a-e1a9-4d70-b8fa-61fa623dd7b8",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        -448
      ],
      "id": "6dd7adc2-0b6e-4c6a-8364-25cc84ae061f",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Input Form": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add data in Google Sheets": {
      "main": [
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "Email to Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email to Company": {
      "main": [
        [
          {
            "node": "Email to Applicant",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Email to Applicant": {
      "main": [
        [
          {
            "node": "Response to Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Field": {
      "main": [
        [
          {
            "node": "Response to Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Add data in Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea99b2d4-a51e-4a29-87d8-c7b0746bdee3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "603fe44794c79145f26873cf195b9fc1b3e25868fdf510a15bbed891bb622bde"
  },
  "id": "dr4w86AtBbXOqx8V",
  "tags": []
}