practica6/practica6.json
{
  "name": "practica6",
  "nodes": [
    {
      "parameters": {
        "inputDataFieldName": "data0",
        "driveId": {
          "__rl": true,
          "value": "19ORf6DfBx7v0F02bawWCiaA46lK-cwQV",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1ErNvBHbkahQYqJpF56HqGMP_R-3MaP9u",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        -768
      ],
      "id": "17d260e7-65cd-41d2-9320-ed30d725961d",
      "name": "Upload image",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ipkOk1HogHLllDUd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14eos4IX05yCEwAyNurQgt5RweUTEK81X9i6YXqA4Mpg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14eos4IX05yCEwAyNurQgt5RweUTEK81X9i6YXqA4Mpg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Imagen": "={{ $json.webViewLink }}",
            "Descripcion": "={{ $('Input Form').item.json.body.description }}",
            "IG": "={{ $('Input Form').item.json.body.ig? \"Si\" : \"No\" }}",
            "FB": "={{ $('Input Form').item.json.body.fb? \"Si\" : \"No\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Imagen",
              "displayName": "Imagen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IG",
              "displayName": "IG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -768
      ],
      "id": "4424d39e-eefc-45c8-bfb4-2e0682b5b678",
      "name": "Post Register",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jYw58VjiI8xAP7CN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        -768
      ],
      "id": "fd395bdb-fe59-435b-96a4-3253519d4985",
      "name": "Input Form",
      "webhookId": "4d9c661f-59d2-44cb-b75d-5db75cdfdb26"
    },
    {
      "parameters": {
        "content": "Facebook Token (2 meses desde 06-05-26):\nEAAU90ZClZAQrcBRVYM6mKGYNUiZCpYpHB4KjcCGFdQ469DQmPX47lB0Atf1hSMdnJ01PFkkbNYwqZBKdmvUw0VFYYUoW3SoCZBOZB4hdStFVAayurCmyUryme2obzKb477HeBHZB4DQrMsg8F1ahZAqwy9fw2O30LmFq2jTuWuMI4GAAeZCZAke9duQUHoMrgaYUXRNIhWKYUy",
        "height": 112,
        "width": 550
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2928,
        -640
      ],
      "id": "4d25069a-8d71-4d5d-913d-aeab4e24f19e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4a68f73-b0ab-4273-8277-51ff847fa2c5",
              "leftValue": "={{ $('Input Form').item.json.body.fb }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        -864
      ],
      "id": "a19c4926-b7e0-4872-97e1-08cce7d85ad4",
      "name": "If FB Post"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const binaryData = $(\"Input Form\").item.binary.data0;\n\nitem.binary = {\n  data0: binaryData\n};\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -864
      ],
      "id": "f3797afd-e706-44d8-a902-52bfc329ec08",
      "name": "Recuperar Binario de Imagen"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "=data0",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.Descripcion }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        496,
        -864
      ],
      "id": "23601af9-020e-4595-ac22-15de25e50961",
      "name": "FB Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "WYTNPq5qPSA5XYWC",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "node": "17841423445432265",
        "imageUrl": "=https://drive.google.com/uc?export=download&id={{ $('Upload image').item.json.id }}",
        "caption": "={{ $('Input Form').item.json.body.description }}",
        "additionalFields": {}
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        496,
        -672
      ],
      "id": "0eec446d-8aed-4e24-bde1-c418c014d142",
      "name": "Publish",
      "credentials": {
        "instagramApi": {
          "id": "9R7R5hiChhj22PVt",
          "name": "Instagram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "87aab4ba-8e8d-411b-b4b7-788acbf80c39",
              "leftValue": "={{ $('Input Form').item.json.body.ig }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        -672
      ],
      "id": "2f27a582-8e0e-4d16-ad9f-6c78a0d926c0",
      "name": "If IG Post"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload image').item.json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        -672
      ],
      "id": "93c0af26-dbd7-4834-9ce5-2cfe8bd4afb0",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ipkOk1HogHLllDUd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dfb78e0-2c5f-4843-95da-7c2a5107f6f9",
              "name": "=facebook",
              "value": "={{ $json.id != null? \"Ok\" : \"notOk\" | \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -864
      ],
      "id": "9b4391e1-312c-4729-be10-dc38eec77137",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dfb78e0-2c5f-4843-95da-7c2a5107f6f9",
              "name": "=instagram",
              "value": "={{ $json.id != null? \"Ok\" : \"notOk\" | \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -672
      ],
      "id": "c9d76f98-c430-4389-a01a-54c5245ee0a0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        -768
      ],
      "id": "1def854c-7306-40f4-986b-b64b51adc6d7",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1168,
        -768
      ],
      "id": "9d6e7ab0-ccd1-48dd-983d-d663b148d88f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload image": {
      "main": [
        [
          {
            "node": "Post Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Register": {
      "main": [
        [
          {
            "node": "If FB Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "If IG Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Form": {
      "main": [
        [
          {
            "node": "Upload image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If FB Post": {
      "main": [
        [
          {
            "node": "Recuperar Binario de Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar Binario de Imagen": {
      "main": [
        [
          {
            "node": "FB Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Post": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If IG Post": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6922aba9-96cf-44ce-a869-3d2445ffe918",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "603fe44794c79145f26873cf195b9fc1b3e25868fdf510a15bbed891bb622bde"
  },
  "id": "LXFqsOLfKlEresyh",
  "tags": []
}